{
    "extends": "airbnb-base",
    "plugins": [
        "import"
    ],
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {}
    },
    "rules": {
        "no-throw-literal": "off",
        "no-param-reassign": ["error", { "props": false }]
    }
}
